<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>JSTL</display-name>
    <servlet-name>JSTL</servlet-name>
    <servlet-class>JSTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSTL</servlet-name>
    <url-pattern>/JSTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSTL1</display-name>
    <servlet-name>JSTL1</servlet-name>
    <servlet-class>com.tarikc.JSTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSTL1</servlet-name>
    <url-pattern>/JSTL1</url-pattern>
  </servlet-mapping>
</web-app>